In [7]:
!pip install mysql

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: mysql in /usr/local/lib/python3.9/dist-packages (0.0.3)
Requirement already satisfied: mysqlclient in /usr/local/lib/python3.9/dist-packages (from mysql) (2.1.1)

In [8]:
!pip install mysql-connector-python

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.33-cp39-cp39-manylinux1_x86_64.whl (27.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 27.4/27.4 MB 35.0 MB/s eta 0:00:00
Requirement already satisfied: protobuf<=3.20.3,>=3.11.0 in /usr/local/lib/python3.9/dist-packages (from mysql-connector-python) (3.20.3)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.0.33

In [1]:
import mysql.connector

## User local database login info

In [2]:
host = "localhost"
user = "root"
password = ""

### Connect to database

In [3]:
mydb = mysql.connector.connect(
  host=host,
  user=user,
  password=password
)

mycursor = mydb.cursor()

### Create database

In [4]:
mycursor.execute("CREATE DATABASE NYU_Bigdata_Final")
## To-do : 先檢查有沒有再建立

DatabaseError: 1007 (HY000): Can't create database 'NYU_Bigdata_Final'; database exists

### Choose the database you just created

In [5]:
mycursor.execute("USE NYU_Bigdata_Final")

# Create needed tables

### Create Table "City"

In [6]:
query_for_create_City_Table = 'CREATE TABLE city ( \
        c_id INT NOT NULL, \
        c_name VARCHAR(100) NOT NULL, \
        PRIMARY KEY (c_id), \
        CONSTRAINT all_unique UNIQUE (c_id, c_name))'
    
mycursor.execute(query_for_create_City_Table)

ProgrammingError: 1050 (42S01): Table 'city' already exists

In [ ]:
query_for_create_Restaurant_Table = 'CREATE TABLE restaurants ( \
        r_id INT NOT NULL AUTO_INCREMENT, \
        c_id INT, \
        r_name VARCHAR(100) NOT NULL, \
        r_type VARCHAR(100), \
        r_price INT, \
        r_address VARCHAR(100), \
        PRIMARY KEY (r_id), \
        FOREIGN KEY (c_id) REFERENCES city(c_id), \
        CONSTRAINT r_name_unique UNIQUE (r_name))'
    
mycursor.execute(query_for_create_Restaurant_Table)

### Create Table "User"

In [ ]:
query_for_create_User_Table = 'CREATE TABLE users ( \
        u_id INT NOT NULL AUTO_INCREMENT, \
        u_email VARCHAR(100) NOT NULL, \
        u_password VARCHAR(100) NOT NULL, \
        u_name VARCHAR(100) NOT NULL, \
        u_gender VARCHAR(10) NOT NULL,\
        u_birth DATE NOT NULL, \
        c_id INT NOT NULL, \
        PRIMARY KEY (u_id), \
        FOREIGN KEY (c_id) REFERENCES city(c_id), \
        CONSTRAINT user_unique UNIQUE (u_email))'
    
mycursor.execute(query_for_create_User_Table)

### Create Table "User_Record"

In [ ]:
query_for_create_User_Record_Table = 'CREATE TABLE Users_Record ( \
        u_r_id INT NOT NULL AUTO_INCREMENT, \
        u_id INT NOT NULL, \
        r_id INT NOT NULL, \
        rating INT NOT NULL, \
        PRIMARY KEY (u_r_id), \
        FOREIGN KEY (u_id) REFERENCES users(u_id), \
        FOREIGN KEY (r_id) REFERENCES restaurants(r_id))'
    
mycursor.execute(query_for_create_User_Record_Table)

### Insert data to "City" table

In [ ]:
query_for_insert_to_City = 'INSERT INTO city (c_id, c_name) VALUES (%s, %s);'
c_name = [(348156, 'Milan'), (461789, 'Rome'), (415144, 'Paris')]

for name in c_name:
    mycursor.execute(query_for_insert_to_City, name)

mydb.commit()

print(mycursor.rowcount, "Succeedly inserted.")

1 Succeedly inserted.